@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.bg {
  /* background-image: url("/blob.svg"); */
  background-size: cover;
}
.skillset{
  /* background-image: url("/blob.svg"); */
}
.skillItem{
  /* background-image: url("/tech/codetools.jpg"); */
  background-size: cover;
  

}



/* floating input styles  */

/* --------------------------------------------- */
/* -------   Font import (not required)  ------- */
/* --------------------------------------------- */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,600);

/* ---------------------------------------------- */
/* -------   Required CSS (customizable)  ------- */
/* ---------------------------------------------- */


/* ---------------------------------------------- */
/* --  Codepen styles & resets - not required  -- */
/* ---------------------------------------------- */
.linear-wipe {
  text-align: center;
  background: linear-gradient(to right,rgb(0, 255, 229) , rgb(0, 94, 255),rgb(0, 255, 229) );
  background-size: 200% auto;
color: #000;
  background-clip: text;
  /* text-shadow: 3px 3px 7px black; */
  /* box-shadow: 2px 2px 3px red; */
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 5s linear infinite;


}  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
body {
  margin: 0;
  
  /* font-weight: 100; */
  background: rgb(6, 2, 28);
  /* -webkit-overflow-Y: hidden;
  -moz-overflow-Y: hidden;
  -o-overflow-Y: hidden; */
  overflow-y: hidden;
  -webkit-animation: fadeIn 1 1s ease-out;
  -moz-animation: fadeIn 1 1s ease-out;
  -o-animation: fadeIn 1 1s ease-out;
  animation: fadeIn 1 1s ease-out;
}

button {
  position: absolute;
  border: 2px solid white;
  background: transparent;
  font-family: 'Roboto', sans-serif;
  color: white;
  width: 250px;
  height: 50px;
  font-size: 2em;
  border-radius: 5px;
  opacity: .5;
  top: 60vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  transition: .3s;
}

button:hover {
  border: 2px solid #104F55;
  background-color: rgba(365, 365, 365, 0.5);
  cursor: pointer;
  color: #104F55;
  opacity: .8;
  transition: .3s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.light {
  position: absolute;
  width: 0px;
  opacity: .75;
  background-color: white;
  box-shadow: #e9f1f1 0px 0px 20px 2px;
  opacity: 0;
  top: 100vh;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
}

.x1 {
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
  -webkit-transform: scale(1.0);
  -moz-transform: scale(1.0);
  -o-transform: scale(1.0);
  transform: scale(1.0);
}

.x2 {
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
}

.x3 {
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
}

.x4 {
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
}

.x5 {
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
}

.x6 {
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
}

.x7 {
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
}

.x8 {
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
}

.x9 {
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
}

button:focus {
  outline: none;
}

@-webkit-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-moz-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@-o-keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

@keyframes floatUp {
  0% {
    top: 100vh;
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    top: 0vh;
    opacity: .8;
  }

  75% {
    opacity: 1;
  }

  100% {
    top: -100vh;
    opacity: 0;
  }
}

.header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  color: white;
  font-size: 2em;
}

#head1,
#head2,
#head3,
#head4,
#head5 {
  opacity: 0;
}

#head1 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
}

#head2 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  animation-delay: 6s;
}

#head3 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  animation-delay: 12s;
}

#head4 {
  -webkit-animation: fadeOut 1 5s ease-in;
  -moz-animation: fadeOut 1 5s ease-in;
  -o-animation: fadeOut 1 5s ease-in;
  animation: fadeOut 1 5s ease-in;
  -webkit-animation-delay: 17s;
  -moz-animation-delay: 17s;
  -o-animation-delay: 17s;
  animation-delay: 17s;
}

#head5 {
  -webkit-animation: finalFade 1 5s ease-in;
  -moz-animation: finalFade 1 5s ease-in;
  -o-animation: finalFade 1 5s ease-in;
  animation: finalFade 1 5s ease-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 22s;
  -moz-animation-delay: 22s;
  -o-animation-delay: 22s;
  animation-delay: 22s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

@keyframes finalFade {
  0% {
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  80% {
    opacity: .9;
  }

  100% {
    opacity: 1;
  }
}

#footer {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
  position: fixed;
  -webkit-transform: translate(95vw, 90vh);
  -moz-transform: translate(95vw, 90vh);
  transform: translate(95vw, 90vh);
  transform: translate(95vw, 90vh);
}


/* Heading animation */


.animate_content span {  
  color: #fff;
  font-size: 3em;
  /* position: absolute; */
  /* transform: translate(-50%, -50%); */
}

.animate_content span:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}

.animate_content span:nth-child(2) {
  color: #a58cff;
  animation: animate 10s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%);
  }
}

:root {
  --gap: 4px;
  --background-page: rgb(29, 55, 203);
  --background-container: rgba(8, 18, 132, 0.149);
  --background-box: rgba(8, 10, 58, 0.928);
  --color-line: #666;
  --color-font: #444;
  --columns: 5;
  --border-radius: 3px;
  --font-size: 18px;
  --font-family: Arial;
  --transition-duration: 600ms;
  --transition-style: ease-in-out;
  --container-max-width: 500px;
}



p.warning {
  text-align: center;
  line-height: 2;
  margin: 0 auto;
  font-size: 14px;
  max-width: var(--container-max-width);
  color: #fff;
}

p.warning a {
  background: #45ba04;
  color: #fff;
  padding: .2rem .7rem;
  border-radius: 3px;
  white-space: nowrap;
  text-decoration: none;
}

p.warning a.more:hover {
  background: #3bacff;
}

.grid-container {
  background: var(--background-container);
  box-shadow: 0 0 16px rgba(0, 0, 0, 1);
  border-radius: var(--border-radius);

  /* margin: 2em auto; */
  position: relative;
  align-self: center;
  max-width: var(--container-max-width);
  width: var(--container-max-width);
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  /* Horizontal spacing between the entries. */
  padding: var(--gap) var(--gap) calc(var(--gap)/2) var(--gap);
  /* The external spacing of the container. */
  overflow: hidden;
  /* Prevents .corner::before to be visible outside the margins of the container. */
}

.entry {
  width: calc((100% / var(--columns)) - calc(var(--gap)/2));
  /* Column width must take into account the desired gap. */
  margin-bottom: calc(var(--gap)/2);
  /* Vertical spacing between the entries. */
  position: relative;
  /* This is required, to contain .corner::before within the margins of it's parent. */
}

.entry-content {
  display: grid;
  place-items: center;
  min-height: clamp(1em, calc(100vw/var(--columns)), calc(var(--container-max-width)/var(--columns)));
  background: var(--background-box);
  transition: all var(--transition-duration) var(--transition-style);
  pointer-events: none;
  /* When hovering over an entry, ignore this element, even if its on the foreground. */
  z-index: 1;
  /* The content div should have a higher z-index than the .corner::before. */
  position: relative;
  /* z-index would have no effect without a specific position. */
}

.entry:hover .entry-content {
  background: var(--background-container);
  color: var(--color-line);
}

.corner-container {
  /* The corner container should cover the entire entry. */
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.corner {
  /* Each corner should cover 1/4 of an entry. */
  position: absolute;
  width: 50%;
  height: 50%;
}

.corner::before {
  /* The cross shape is just a big box positioned behind the entries. */
  content: '';
  display: block;
  position: absolute;
  width: 200%;
  height: 200%;
  opacity: 0;
  transition: opacity var(--transition-duration) var(--transition-style);
  background: radial-gradient(var(--color-line) 0, transparent 70%);
  /* Radial gradient smoothens the shape's edges. */
  pointer-events: none;
  /* This is needed to prevent hovering on the ::before element instead of its container span. */
}

.corner:hover::before {
  opacity: 1;
}

/* Position the corners and their respective shapes. */
.corner:nth-child(1) {
  left: 0;
  top: 0;
}

.corner:nth-child(1)::before {
  left: -100%;
  top: -100%;
}

.corner:nth-child(2) {
  right: 0;
  top: 0;
}

.corner:nth-child(2)::before {
  right: -100%;
  top: -100%;
}

.corner:nth-child(3) {
  left: 0;
  bottom: 0;
}

.corner:nth-child(3)::before {
  left: -100%;
  bottom: -100%;
}

.corner:nth-child(4) {
  right: 0;
  bottom: 0;
}

.corner:nth-child(4)::before {
  right: -100%;
  bottom: -100%;
}
/* @keyframes constant_rotate {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360);
  }

} */
.rotator{
  animation-name: constant_rotate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  /* margin-top: 300px; */
}

